@color-1: #1BC744;
@color-2: #90829F;
@color-3: #153E4D;
#text-color{
  color: @color-1;
}
.banner-left h3{
  float: left;
}
.banner-right p{
  float:right;
}
.image img{
  width: 50%;
}
.text-name{
  text-decoration-line: underline;
  color: @color-2;
}
hr{
border: none;
height: 4px;
/* Set the hr color */
color: @color-3; /* old IE */
background-color: @color-3; /* Modern Browsers */
}
.cbp-hrmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: #999;
  display: inline-block;
  text-decoration-style: dashed;
}